@using kogebogen.Repository;
@model Repositories

@{
    ViewData["Title"] = "AddRecipe";
}

<h1>AddRecipe</h1>
<form method="post" asp-controller="Home" asp-action="AddRecipeTest">
    <h3>Navn på opskrift: <input type="text" name="title" required value="sa"/></h3>
    <div id="ingredients">
        <div id="ingredient">
            <p>
                Tilføj ingrediens: <input type="text" name="ingredients" required /> <input type="number" value="amount" name="amount" required />
                <select required name="unit">
                    <option value="stk">stk</option>
                    <option value="g">g</option>
                    <option value="dl">dl</option>
                    <option value="tsk">tsk</option>
                    <option value="spsk">spsk</option>
                </select>
            </p>
        </div>
    </div>


    <button onclick="micro()">Tilføj ingrediens</button>
    <button onclick="remove()">Fjern ingediens</button>
    <br />
    <input type="number" value="time" name="time" required /> tid i minutter
    <br />
    <div>
        <ol id="description_steps">
            <li><input type="text" name="guide" required /></li>
        </ol>
    </div>
    <button onclick="test()">Tilføj trin</button>
    <button onclick="fjerntrin()">Fjern Trin</button>

    <button type="submit">Tilføj opskrift</button>
</form>
<script src="~/js/AddIngredient.js">

</script>