@using kogebogen.Models;
@model User
@{
    ViewData["Title"] = "Addfav";
}
<h1>Min madplan</h1>

@*<table>
        <tr>
            <th>Mandag</th>
            <td></td>
        </tr>
    </table>*@


@foreach (Days day in Model.madplan.days)
{
    @day.Name <br />
    @if (day.Recipe == null)
    {
        <form method="post" asp-controller="Home" asp-action="AddToPlan">
            <input type="hidden" name="day" value="@day.Name" />
            <input type="hidden" name="rec" value="@Model.madplan.rHolder.ID" />
            <button type="submit">Tilføj</button>
        </form>
    }
    <br />
}

<p id="totalPrice"></p>
<script src="~/js/AddToFoodPlan.js"></script>