@using kogebogen.Models;
@model User
@{
    ViewData["Title"] = "Addfav";
}
<h1>Min madplan</h1>

@*<table>
        <tr>
            <th>Mandag</th>
            <td></td>
        </tr>
    </table>*@


<table>
    <tr>
        <th>Mandag</th>
        <th>Tirsdag</th>
        <th>Onsdag</th>
        <th>Torsdag</th>
        <th>Fredag</th>
        <th>Lørdag</th>
        <th>Søndag</th>
    </tr>
    <tr>

        @foreach (Recipe r in Model.Madplan)

        {
            <td>
                <h4>@r.Name</h4>
                <img src="~/img/@r.ImageUrl" />
                <p class="price">@r.TotalPrice</p>

                <form class="RemoveFoodplan" method="post" asp-controller="Home" asp-action="RemoveFoodplan">
                    <input type="hidden" name="r" value="@r.ID" />
                    <button type="submit" class="fas fa-minus"></button>
                </form>

                <form class="AddToShoppingList" method="post" asp-controller="Home" asp-action="ShoppingList">
                    <input type="hidden" name="r" value="@r.ID" />
                    <button type="submit" class="fas fa-circle">Tilføj til shopping liste</button>
                </form>
            </td>
        }
    </tr>
    <p id="totalPrice"></p>
</table>
<script src="~/js/AddToFoodPlan.js"></script>