@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/front.css">


<div class="titleContainer">
    <h1>kogebogen</h1>
</div>

<!-- Modalbox for søgning -->
<form asp-action="Search" asp-controller="Home" method="post" class="searchForm" id="searchModal">
    <input type="text" name="searchValue" id="searchField" /> <br />
    <button type="submit" class="fas fa-search"></button>
</form>

<nav>
    <button class="fas fa-user-alt" id="openProfile"></button>
    <a class="fas fa-heart" asp-controller="Home" asp-action="Addfav"></a>
    <a asp-controller="Home" asp-action="Menu" id="hamburger">
        <span class="fas fa-bars"></span>
    </a>
    <form asp-controller="Home" method="post" asp-action="ShowPlan">
        <button type="submit" class="fas fa-calendar-alt"></button>
    </form>
    <button class="fas fa-search" id="searchButton"></button>
</nav>

<script src="~/js/front.js"></script>