@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" asp-controller="Home" asp-action="AddRecipe">
        <button type="submit">Tilføj opskrift</button>
    </form>
    <form  asp-controller="Home" asp-action="Recipes" method="post">
        <button type="submit"> Opskrifterne </button>
    </form>
    <form  asp-controller="Home" method="post" asp-action="Myrecipes">
        <button type="submit">Min side</button>
    </form>
    <form asp-controller="Home" asp-action="Search" method="post">
        <input type="text" name="searchValue" /> <br />
        <button type="submit">Søg</button>
    </form>
</div>
