@{
    ViewData["Title"] = "Menu";
}
<link href="~/css/menu.css" rel="stylesheet" />

<!-- Modalbox for søgning -->
<form asp-action="Search" asp-controller="Home" method="post" class="searchForm" id="searchModal">
    <input type="text" name="searchValue" id="searchField" /> <br />
    <button type="submit" class="fas fa-search"></button>
</form>


<div class="grid-container">
    <form method="post" asp-controller="Home" asp-action="Recipes" class="opskrifter">
        <button type="submit">
            <span class="fas fa-address-book" id="filled"></span>
            <p>Opskrifter</p>
        </button>
    </form>
    <form method="post" asp-controller="Home" asp-action="Myrecipes" class="mineOpskrifter">
        <button type="submit">
            <span class="fas fa-address-book"></span>
            <p>Mine opskrifter</p>
        </button>
    </form>
    <form method="post" asp-controller="Home" asp-action="AddRecipe" class="tilføj">
        <button type="submit">
            <span class="fas fa-plus"></span>
            <p>Tilføj opskrift</p>
        </button>
    </form>
    <form method="post" asp-controller="Home" asp-action="Addfav" class="favorit">
        <button type="submit">
            <span class="fas fa-heart"></span>
            <p>Favoritter</p>
        </button>
    </form>
    <form method="post">
        <button id="searchButton">
            <span class="fas fa-search"></span>
            <p>Søg</p>
        </button>
    </form>
    <button id="openProfile">
        <span class="fas fa-user-alt"></span>
        <p>Min profil</p>
    </button>
    <form method="post" asp-controller="Home" asp-action="Addtofoodplan" class="madplan">
        <button type="submit">
            <span class="fas fa-calendar-alt"></span>
            <p>Min madplan</p>
        </button>
    </form>
    <a href="#" class="indstillinger">
        <span class="fas fa-cog"></span>
        <p>Indstillinger</p>
    </a>
</div>



<script src="~/js/front.js"></script>