@model User
@using kogebogen.Repository;
@using kogebogen.Models;

@{
    ViewData["Title"] = "MyRecipes";
}

<h1>Myrecipes</h1>



    @foreach (Recipe r in Model.Own)
    {
<div class="flex-container" style="display:flex">
    <h2>@r.Name</h2>
    <img src="~/img/@r.ImageUrl" />
    <form class="myRecipes" method="post" asp-controller="Home" asp-action="RemoveRecipe">
        <input type="hidden" name="r" value="@r.ID" />
        <button type="submit" class="fas fa-minus"></button>
    </form>
    <form class="myRecipes" method="post" asp-controller="Home" asp-action="EditRecipeOpen">
        <input type="hidden" name="r" value="@r.ID" />
        <button type="submit">Ret opskrift</button>
    </form>
    
    
</div>
}



