@model RecipeHolder
@{
    ViewData["Title"] = "Search";
}

<h1>Din søgning</h1>


<p>Title</p>
@for (int i = 0; i < Model.recipeCounter; i++)
{
    @Model.recipes[i].Name
    <br />
}

<p>Disse opskrifter passer til din søgning</p>
@for (int i = Model.recipeCounter; i < Model.recipes.Count; i++)
{
    @Model.recipes[i].Name
    <br />
}