@model User
@{
    ViewData["Title"] = "ShowPlan";
}

<h1>Madplan for ugen</h1>

@for (int i = 0; i < Model.madplan.days.Length; i++)
{
    @Model.madplan.days[i].Name
    <br />
    @if (Model.madplan.days[i].Recipe != null)
    {
        <form method="post" asp-controller="Home" asp-action="AddToShoppingList">
            @Model.madplan.days[i].Recipe.Name<br />
            <input type="hidden" value="@Model.madplan.days[i].Recipe.ID" name="ID"/>
            <button type="submit">Tilføj til indkøbsliste</button>
        </form>
    }
    else
    {
        // Do nothing
        <br />
    }
}
<p>Samlet pris for mad:<br /></p>
@Model.madplan.price kr.