@model User
@{
    ViewData["Title"] = "ShowPlan";
}

<h1>Madplan for ugen</h1>

@for (int i = 0; i < Model.madplan.days.Length; i++)
{
    @Model.madplan.days[i].Name
    <br />
    @if (Model.madplan.days[i].recipe != null)
    {
        @Model.madplan.days[i].recipe.Name<br />

    }
    else
    {
        // Do nothing
        <br />
    }
}
<p>Samlet pris for mad:<br /></p>
@Model.madplan.price kr.